.stories{
    position: relative;
    .items{
        .item_s{
            
            img{
                height: 56px;
                width: 55px;
                border-radius: 30px;
                padding: 2px;
                border: 1px solid $gray-color;
            }
            p{
                color: $gray-color;
                font-weight: 300;
                font-size: 12px;
                margin: 0;
                text-align: center;
            }
        }
    }
}