ul {
  display: flex;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 14px;
}

p {
  font-size: 15px;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 400;
}


img{
  object-fit: cover;
}